<!DOCTYPE html>
<html>
  {% load static %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'keepass/css/index.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

</head>
<body>
  

<div class="header">
  <div>
    <div class="column">
      <img src="{% static 'keepass/imgs/logo3sr.png' %}" alt="logo" />
      <div class="vertical-center">
          <h2>KEEPASS</h2>
      </div>
    </div>
    <div class="column" id="left-column">
      <!--
      <a href="#" class="btn btn-danger btn-rounded">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>
    -->
    <button  class="btn btn-danger btn-rounded" onclick="location.href = '/'">
      <span class="glyphicon glyphicon-log-out"></span>
    
    </button>

    </div>
  </div>



</div>


<!--
NICE TO HAVE
<div id="search_bar">
  <div class="container">
    <input type="text" placeholder="Web Site" name="wname" required>
  </div>
</div>
-->

<div id="container">
  <h1> YOUR ACCOUNTS </h1>

  <table id="tableId" style="width:75%">
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Web Site</th>
    </tr>
      {% for psw in psws %}
      <tr class="inside" id='{{psw.id}}'>
        <td> {{psw.email}} </td>
        <td> {{psw.username}} </td>
        <td> {{psw.destination_url}} </td>
      </tr>
      {% endfor %}
  </table>

  <div id="btn-part">
    <button type="button" id="registerbtn" onclick="location.href = '/add'">Add new account</button>
  </div>



  <div class="overlay h" id="overlay">
    <div class="popup" id="popup">
      <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
      <h3>INSERT MASTER PASSWORD</h3>
      <form method="post">
        {% csrf_token %}
        <div class="contenedor-inputs">
          <input type="text" name="mpsw" placeholder="Master Password" required>
          <input type="hidden" id="mpsw_id" name="mpsw_id" value="">
          
        </div>
        <input type="submit" class="btn-submit" value="SUBMIT">
      </form>
    </div>
  </div>


  {% for c in password %}

  <div class="overlay" id="overlay2">
    <div class="popup" id="popup2">
      <a href="#" id="btn-cerrar-popup2" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
      <h3>YOUR PASSWORD IS</h3>
      <h1>{{c}}</h1>
      {% for a in password_id %}
      <button type="button" id="editbtn" onclick="location.href = '/editar?psw_id={{a}}'">Delete account</button>
    
      {% endfor %}




      
    </div>
  </div>

  {% endfor %}

  <script src="{% static 'keepass/js/index.js' %}"></script>

</div>







  
<footer>
  <div id="footer">
      <span class="left">Universidad de Ingenieria y Tecnologia</span>
      <span class="right">© 2022 Fabrizio Garcia, Angelica Sanchez, Alejandro Otero</span>
  </div>

</footer>
  
</body>
</html>
