<!DOCTYPE html>
<html>
  {% load static %}

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{% static 'keepass/css/index.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <!--

<div class="header">
  <div>
    <div class="column">
      <img src="{% static 'keepass/imgs/logo3sr.png' %}" alt="logo" />
      <div class="vertical-center">
          <h2>KEEPASS</h2>
      </div>
    </div>
    <div class="column" id="left-column">
      <a href="#" class="btn btn-danger btn-rounded">
        <span class="glyphicon glyphicon-log-out"></span>
      </a>
    </div>
  </div>
  <div id="form">
    <div id="blank"> </div>
    <div>
      <form action="." method="post">
        <div id="input-site">
          <input type="text" placeholder="Site name" name="sname" required>
        </div>
      </form>
  </div>
  </div>

</div>
-->

<div id="search_bar">


  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />
  <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo" />

</div>


  
<footer>
  <div id="footer">
      <span class="left">Universidad de Ingenieria y Tecnologia</span>
      <span class="right">© 2022 Fabrizio Garcia, Angelica Sanchez, Alejandro Otero</span>
  </div>

</footer>
  
</body>
</html>
