<html>
    {% load static %}

    <link rel="stylesheet" href="{% static 'keepass/css/login.css' %}">
    <div>
    <div id="login">
        <img src="{% static 'keepass/imgs/logo.png' %}" alt="logo">
        <form action="." method="post">
          {% csrf_token %}

            <div class="container">
              <input type="text" placeholder="Username" name="uname" required>
              <input type="password" placeholder="Password" name="psw" required>
              <button type="submit" id="loginbtn">Sign in</button>
            </div>
            {% if messages %}
            <div id="message">
              {% for message in messages %}
              <h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
              {% endfor %}
            </div>
            {% endif %}        
            <div class="container">
                <p>Need an account?</p>
              <button type="button" id="registerbtn" onclick="location.href = '/register'">Sign up</button>

            </div>
          </form>
    </div>
    </div>
    <footer>
        <div id="footer">
            <span class="left">Universidad de Ingenieria y Tecnologia</span>
            <span class="right">© 2022 Fabrizio Garcia, Angelica Sanchez, Alejandro Otero</span>
        </div>

    </footer>
</html>